.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
    font-size: 14px;
    line-height: 0.8;
}

.header p {
    margin-bottom: 0;
}

.header .summary {
    display: none;
}

@media screen and (max-width: 500px) {
    div.header {
        position: fixed;
        bottom: 0;
        left: 0px;
        background-color: #493c3c;
        color: #f9f9f9;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        z-index: 1000;
        height: 56px;
    }

    div.header .details {
        display: none;
    }

    div.header .summary {
        display: flex;
        gap: 10px;

        & a {
            color: #f9f9f9;
        }
    }

    body {
        padding-bottom: 56px;
    } 

}

.MsoTableGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.MsoTableGrid>div {
    padding: 10px;
    background-color: #fff;
    margin: 0px;
    text-align: center;
    border-right: 1px solid #ccc;

    &:last-child {
        border-right: 0;
    }
}

@media screen and (max-width: 590px) {
    div.MsoTableGrid {
        grid-template-columns: 1fr;
    }

    div.MsoTableGrid h2 {
        font-size: 20px;
    }

    div.MsoTableGrid>div {
        border-right: 0;
        border-bottom: 1px solid #ccc;
        
        &:last-child {
            border-bottom: 0;
        }    }
}

.small-h1 {
    font-size: 18px;
}

.chronology h2 {
    color: #f9f9f9;
    background-color: #863e3e;
    padding-left:10px;
}

/* Styles particulier aux différents paragraphes */
.MsoListParagraph {
    margin-block-start: 4px;
    position: relative;
    padding-left: 20px;
    line-height: 1.3;
    margin-bottom: 0px;
}

.MsoListParagraph::before {
    content: '\2022'; /* Puce Unicode */
    position: absolute;
    left: 0;
    color: #333;
    font-size: 14px;
}

.MsoQuote {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 4px solid #863e3e;
    padding-left: 10px;
}

.Note {
    font-size: 14px;
    background-color: #dad2d2;
    padding-left: 10px;
}

.small-cv h2 {
    margin-bottom: 5px;
}

.small-cv h3, .small-cv h4, .small-cv p.period {
    margin: 0;
}

.small-cv h3, .small-cv p.period{
    display: inline;
}


p.period::before {
    content: '(';
    margin-left: 1em
}

p.period:after {
    content: ')';
}

.small-cv h2 {
    border-top: #000 1px solid;
    padding-top: 10px;
}

ul.principal {
    list-style-type: none;
    padding: 0;
}

@media print {
    .header {
        font-size: 10px;
    }
    
    .Note {
        font-size: 10px;
    }

    .MsoListParagraph::before {
        font-size: 12px;
    }

    div.MsoTableGrid h2 {
        font-size: 14px;
    }

    .small-h1 {
        font-size: 12px;
    }

    .chronology h2 {
        color: #000;
        background-color: #FFF;
        padding-left: 0px;
    }
    h4 {
        margin: 10px 0px 0px 0px;
    }

    p {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}