.container {
    display: grid;
    grid-template-columns:1fr 1fr;
}

.header {
    grid-column-start: 1;
    grid-column-end: span 2;
}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }  

    .header {
        grid-column-end: span 1;
    }
}

section {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}