/* Importation de la police Inter depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Styles de base */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0px;
    color: #333;
    background-color: #e1dfdf;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    background-color: #f9f9f9;
    flex-grow: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    font-size: 14px;
    line-height: 0.8;
}

.header p {
    margin-bottom: 0;
}

/* Icônes devant les liens GitHub, LinkedIn et téléphone */
.icon-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-link::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

.github-link::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg');
}

.linkedin-link::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg');
}

.MsoTableGrid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.MsoTableGrid div {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    margin: 20px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

.MsoTableGrid div {
    margin: 0 20px;
    /*border-right: 1px solid #ccc;*/

    &:last-child {
        border-right: 0;
    }
}

/* Titres avec tailles modérées */
h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.small-h1 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Espacements pour les paragraphes */
p {
    margin-bottom: 16px;
}

/* Styles particulier aux différents paragraphes */
.MsoListParagraph {
    margin-block-start: 4px;
    position: relative;
    padding-left: 20px;
    line-height: 1.3;
    margin-bottom: 0px;
}

.MsoListParagraph::before {
    content: '\2022'; /* Puce Unicode */
    position: absolute;
    left: 0;
    color: #333;
    font-size: 14px;
}

.MsoQuote {
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 4px solid #863e3e;
    padding-left: 10px;
}

.Note {
    font-size: 14px;
    background-color: #dad2d2;
}

/* Liens discrets mais visibles */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les balises <em> */
em {
    font-style: normal;
    color: #863e3e; 
}
