/* Importation de la police Inter depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Styles de base */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0px;
    color: #333;
    background-color: #e1dfdf;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    background-color: #f9f9f9;
    flex-grow: 1;
}

.MsoTableGrid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.MsoTableGrid div {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    margin: 20px;
    min-width: 300px;
    max-width: 400px;
    text-align: center;
}

.MsoTableGrid div {
    margin: 0 20px;
    /*border-right: 1px solid #ccc;*/

    &:last-child {
        border-right: 0;
    }
}

/* Titres avec tailles modérées */
h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.small-h1 {
    font-size: 18px;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Espacements pour les paragraphes */
p {
    margin-bottom: 16px;
}

/* Liens discrets mais visibles */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les balises <em> */
em {
    font-style: normal;
    color: #1138ab; 
}
