/* Importation de la police Inter depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

/* Styles de base */
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0px;
    color: #333;
    background-color: #e1dfdf;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    background-color: #f9f9f9;
    flex-grow: 1;
}

/* Titres avec tailles modérées */
h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;

}

h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

/* Espacements pour les paragraphes */
p {
    margin-bottom: 16px;
}

/* Icônes devant les liens GitHub, LinkedIn et téléphone */
.icon-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-link::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
}

.github-link::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg');
}

.linkedin-link::before {
    background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg');
}


/* Liens discrets mais visibles */
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Styles pour les balises <em> */
em {
    font-style: normal;
    color: #863e3e; 
}
