---
layout: default
---

<div class="home">
{%- if page.category -%}
{%-   assign posts = site.categories[page.category] -%}
{%-   assign is_cat = true -%}
{%- else -%}
{%-   assign posts = site.posts -%}
{%- endif -%}

  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in posts -%}
      {%- if post.categories[0] <> "notes" -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if is_cat != true -%}
          — <a href="/{{ post.categories | first}}/">{{ post.categories | first | capitalize}}</a>
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    <div class="notes">
    <h3>Notes</h3>
    <p class="post-meta">Quelques notes prises sur le vif, beaucoup plus contextuelles</p>
    <ul class="post-list">
      {%- for post in posts -%}
      {%- if post.categories[0] == "notes" -%}
      <li>
        <span class="post-meta">{{ post.date | date: date_format }}
          {%- if is_cat != true  -%}
           — <a href="/{{ post.categories[1]}}/">{{ post.categories[1] | capitalize}}</a>
          {%- endif -%}
        </span>
        <h4>
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h4>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>
    </div>
    
    {%- if is_cat -%}
    <a href="/">Retour à l'accueil</a>
    {%- else -%}
    <p class="rss-subscribe">s'abonner <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    {%- endif -%}

  {%- endif -%}

</div>
